body {
    background-image: url("img/baggrund.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#krop {
    width: 600px;
}

.drop-zone {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px dashed transparent;
}

#hjerne {
    width: 200px;
}

#hjerte {
    width: 170px;
}

#tarm {
    width: 210px;
}

#game {
    display: flex;
    align-items: center;
    justify-content: center;
}

#organs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.786);
    height: 600px;
}